{% load i18n %}{% autoescape off %}
You're receiving this email because you requested a password reset for your
LingoKatutubo account at {{ domain }}.

Please go to the following page and choose a new password:
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

{% if user.get_username %}Your username, in case you've forgotten: {{ user.get_username }}{% endif %}

This link will expire shortly for your security. If you didn't request this,
you can safely ignore this email.

The LingoKatutubo team
{% endautoescape %}
